.game div {
  width:100px;
  height:100px;
  display:inline-block;
  background:blue;
  margin: 10px;
}

.game {
  width:250px;
  margin:0 auto;
  outline: 1px solid;
}

.game .winner {
  background:red;
}
p{
	font-size: 40px;
}
*.unselectable {
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
